@font-face {
    font-family: nss-confirm-ui;
    src: url(./fonts/crock.ttf) format('truetype');
}

:root {
    --nss-confirm-anim-dur: 500ms;
}

.nss-confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) none;
    z-index: 2000;
    -webkit-animation: nss-confirm-anim__fade-in var(--nss-confirm-anim-dur) both;
    animation: nss-confirm-anim__fade-in var(--nss-confirm-anim-dur) both;
}

.nss-confirm-modal--out {
    -webkit-animation: nss-confirm-anim__fade-out var(--nss-confirm-anim-dur) both;
    animation: nss-confirm-anim__fade-out var(--nss-confirm-anim-dur) both;
}

.nss-confirm-dialog {
    --translateX: -50%;
    --translateY: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--translateX), var(--translateY));
    -webkit-transform: translate(var(--translateX), var(--translateY));
    background: transparent url("./img/nss_confirm_back.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: var(--50rpx);
    filter: drop-shadow(0px 0px var(--5rpx) rgba(0, 0, 0, 0.8));
    font-family: nss-confirm-ui, serif;
    -webkit-animation: nss-confirm-anim__slide-in-top var(--nss-confirm-anim-dur) both;
    animation: nss-confirm-anim__slide-in-top var(--nss-confirm-anim-dur) both;
    z-index: 2001;
}

.nss-confirm-dialog--out {
    -webkit-animation: nss-confirm-anim__slide-out-bottom var(--nss-confirm-anim-dur) both;
    animation: nss-confirm-anim__slide-out-bottom var(--nss-confirm-anim-dur) both;
}

.nss-confirm__content {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: var(--25rpx);
    max-width: 50vw;
    max-height: 50vh;
    overflow: auto;
}

.nss-confirm__buttons {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*region fade-in*/
@-webkit-keyframes nss-confirm-anim__fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes nss-confirm-anim__fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*endregion*/

/*region fade-out*/
@-webkit-keyframes nss-confirm-anim__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes nss-confirm-anim__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*endregion*/

/*region slide-in-top*/
@-webkit-keyframes nss-confirm-anim__slide-in-top {
    0% {
        -webkit-transform: translateY(-50vh) translateX(var(--translateX));
        transform: translateY(-50vh) translateX(var(--translateX));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

@keyframes nss-confirm-anim__slide-in-top {
    0% {
        -webkit-transform: translateY(-50vh) translateX(var(--translateX));
        transform: translateY(-50vh) translateX(var(--translateX));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

/*endregion*/

/*region slide-out-bottom*/
@-webkit-keyframes nss-confirm-anim__slide-out-bottom {
    100% {
        -webkit-transform: translateY(50vh) translateX(var(--translateX));
        transform: translateY(50vh) translateX(var(--translateX));
        opacity: 0;
    }
    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

@keyframes nss-confirm-anim__slide-out-bottom {
    100% {
        -webkit-transform: translateY(50vh) translateX(var(--translateX));
        transform: translateY(50vh) translateX(var(--translateX));
        opacity: 0;
    }
    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

/*endregion*/