:root {
    --pb-new-text-poster-anim-dur: 500ms;
}

.pb-new-image-poster,
.pb-new-text-poster {
    --translateX: -50%;
    --translateY: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--translateX), var(--translateY));
    -webkit-transform: translate(var(--translateX), var(--translateY));
    filter: drop-shadow(0px 0px var(--5rpx) rgba(0, 0, 0, 0.8));
    -webkit-animation: pb-new-text-poster-anim__slide-in-top var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__slide-in-top var(--pb-new-text-poster-anim-dur) both;
    z-index: 2001;

    /*max-width: var(--pb-text-poster-max-width);*/
    max-height: var(--pb-text-poster-max-height);
    height: 100vh;
    aspect-ratio: var(--pb-poster-aspect-ratio);
}

.pb-new-image-poster--out,
.pb-new-text-poster--out {
    -webkit-animation: pb-new-text-poster-anim__slide-out-bottom var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__slide-out-bottom var(--pb-new-text-poster-anim-dur) both;
}

.pb-new-image-poster__modal,
.pb-new-text-poster__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) none;
    z-index: 2000;
    -webkit-animation: pb-new-text-poster-anim__fade-in var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__fade-in var(--pb-new-text-poster-anim-dur) both;
}

.pb-new-image-poster__modal--out,
.pb-new-text-poster__modal--out {
    -webkit-animation: pb-new-text-poster-anim__fade-out var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__fade-out var(--pb-new-text-poster-anim-dur) both;
}

.pb-new-image-poster__actions,
.pb-new-text-poster__actions {
    --translateX: -50%;
    --translateY: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(var(--translateX)) translateY(var(--translateY));
    -webkit-transform: translateX(var(--translateX)) translateY(var(--translateY));
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
}

.pb-new-text-poster__text-container {
    --top: var(--15rpx);
    --bottom: var(--15rpx);
    --left: var(--25rpx);
    --right: var(--25rpx);

    position: absolute;
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);

    padding-top: var(--25rpx);
    padding-bottom: var(--25rpx);

    background: transparent none;
    z-index: 10;

    transition: top var(--pb-new-text-poster-anim-dur) ease,
    bottom var(--pb-new-text-poster-anim-dur) ease,
    left var(--pb-new-text-poster-anim-dur) ease,
    right var(--pb-new-text-poster-anim-dur) ease;
    overflow: auto;
}

.pb-new-text-poster__text-container .nss-simple-text-editor__section-text {
    padding: 0;
    font-size: var(--pb-poster-text-size);
}

.nss-simple-text-editor__section--text .nss-simple-text-editor__section-text {
    font-size: var(--pb-poster-text-size);
}

.nss-simple-text-editor__section--headline .nss-simple-text-editor__section-text {
    font-size: var(--pb-poster-title-size);
}

/** Das Poster muss hier die selben Abmaße haben, wie das, was man später auch anzeigt! **/
/*region Poster Backgrounds*/
.pb-new-text-poster__poster-back {
    --translateX: 0;
    --translateY: 0;
    --poster-url: url("../img/bulletin_paper_05.png");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent var(--poster-url) no-repeat;
    background-size: 100% 100%;
    filter: drop-shadow(0px 0px var(--10rpx) rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.pb-new-text-poster__poster-back--1 {
    --poster-url: url("../img/bulletin_paper_01.png");
}

.pb-new-text-poster__text-container--1 {
    --top: 5%;
    --bottom: 5%;
    --left: 8%;
    --right: 8%;
}

.pb-new-text-poster__poster-back--2 {
    --poster-url: url("../img/bulletin_paper_02.png");
}

.pb-new-text-poster__text-container--2 {
    --top: 3%;
    --bottom: 3%;
    --left: 12%;
    --right: 12%;
}

.pb-new-text-poster__poster-back--3 {
    --poster-url: url("../img/bulletin_paper_03.png");
}

.pb-new-text-poster__text-container--3 {
    --top: 5%;
    --bottom: 6%;
    --left: 12%;
    --right: 12%;
}

.pb-new-text-poster__poster-back--4 {
    --poster-url: url("../img/bulletin_paper_04.png");
}

.pb-new-text-poster__text-container--4 {
    --top: 3%;
    --bottom: 3%;
    --left: 9%;
    --right: 11%;
}

.pb-new-text-poster__poster-back--5 {
    --poster-url: url("../img/bulletin_paper_05.png");
}

.pb-new-text-poster__text-container--5 {
    --top: 4%;
    --bottom: 4%;
    --left: 12%;
    --right: 11%;
}

.pb-new-text-poster__poster-back--6 {
    --poster-url: url("../img/bulletin_paper_06.png");
}

.pb-new-text-poster__text-container--6 {
    --top: 4%;
    --bottom: 4%;
    --left: 8%;
    --right: 8%;
}

/*endregion*/

.pb-new-text-poster__next-bg-container {
    --translateY: -50%;
    --translateX: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(var(--translateX), var(--translateY));
    -webkit-transform: translate(var(--translateX), var(--translateY));
    z-index: 10;
}

.pb-new-text-poster__prev-bg-container {
    --translateY: -50%;
    --translateX: -100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(var(--translateX), var(--translateY));
    -webkit-transform: translate(var(--translateX), var(--translateY));
    z-index: 10;
}

.pb-new-text-poster__poster-back--anim-next-out {
    -webkit-animation: pb-new-text-poster-anim__slide-out-left var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__slide-out-left var(--pb-new-text-poster-anim-dur) both;
}

.pb-new-text-poster__poster-back--anim-next-in {
    -webkit-animation: pb-new-text-poster-anim__slide-in-right var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__slide-in-right var(--pb-new-text-poster-anim-dur) both;
}

.pb-new-text-poster__poster-back--anim-prev-out {
    -webkit-animation: pb-new-text-poster-anim__slide-out-right var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__slide-out-right var(--pb-new-text-poster-anim-dur) both;
}

.pb-new-text-poster__poster-back--anim-prev-in {
    -webkit-animation: pb-new-text-poster-anim__slide-in-left var(--pb-new-text-poster-anim-dur) both;
    animation: pb-new-text-poster-anim__slide-in-left var(--pb-new-text-poster-anim-dur) both;
}

/*region Image Poster*/
.pb-new-image-poster__form {
    --translateX: -50%;
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(var(--translateX));
    -webkit-transform: translateX(var(--translateX));
    width: calc(var(--1rpx) * 600);
    background: transparent url("../img/small_form_back.png") no-repeat;
    background-size: 100% 100%;
    padding: var(--25rpx);
    filter: drop-shadow(0px 0px var(--10rpx) rgba(0, 0, 0, 1));

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.pb-new-image-poster__image-link-container {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.pb-new-image-poster__image-check-container {
    padding-left: var(--10rpx);
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-top:calc(var(--1rpx) * -3);
}

.pb-new-image-poster__image-link-label {
    color: rgba(255, 255, 255, 0.8);
    padding-right: var(--10rpx);

    font-family: ui, sans-serif;
    font-size: 1.25rem;
    white-space: nowrap;

    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.pb-new-image-poster__image-link-input-container {

    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

}

.pb-new-image-poster__image-link-input {
    background: transparent url("../img/input_back.png") no-repeat;
    background-size: 100% 100%;
    border: 0;
    padding: var(--5rpx) var(--10rpx);
    color: #000;
    font-family: rdr, sans-serif;
    font-size: 1.25rem;
    outline: 0 solid transparent;
    width: 100%;
}

.pb-new-image-poster__image-link-help {
    color:rgba(255,255,255,0.6);
    font-family: ui, sans-serif;
    font-size: 0.7rem;
    letter-spacing: var(--1rpx);
    line-height: normal;
    margin-top:var(--5rpx);
    width: 100%;
}

.pb-new-image-poster__image-link-input--shake {
    animation: pb-new-image-poster-anim__shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-animation: pb-new-image-poster-anim__shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.pb-new-image-poster__image-container {
    --translateX: -50%;
    --top:calc(var(--1rpx) * 150);
    position: absolute;
    top:var(--top);
    left:50%;
    transform: translateX(var(--translateX));
    -webkit-transform: translateX(var(--translateX));
    width:100vw;
    max-width:var(--pb-text-poster-max-width);
    aspect-ratio: var(--pb-poster-aspect-ratio);
    max-height: calc(var(--pb-text-poster-max-height) - var(--top));
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pb-new-image-poster__image {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0px 0px var(--10rpx) rgba(0, 0, 0, 1));
}


/*endregion*/

/*region Shake*/
@keyframes pb-new-image-poster-anim__shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@-webkit-keyframes pb-new-image-poster-anim__shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/*endregion*/

/*region fade-in*/
@-webkit-keyframes pb-new-text-poster-anim__fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pb-new-text-poster-anim__fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*endregion*/

/*region fade-out*/
@-webkit-keyframes pb-new-text-poster-anim__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pb-new-text-poster-anim__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*endregion*/

/*region slide-in-top*/
@-webkit-keyframes pb-new-text-poster-anim__slide-in-top {
    0% {
        -webkit-transform: translateY(-50vh) translateX(var(--translateX));
        transform: translateY(-50vh) translateX(var(--translateX));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

@keyframes pb-new-text-poster-anim__slide-in-top {
    0% {
        -webkit-transform: translateY(-50vh) translateX(var(--translateX));
        transform: translateY(-50vh) translateX(var(--translateX));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

/*endregion*/

/*region slide-out-bottom*/
@-webkit-keyframes pb-new-text-poster-anim__slide-out-bottom {
    100% {
        -webkit-transform: translateY(50vh) translateX(var(--translateX));
        transform: translateY(50vh) translateX(var(--translateX));
        opacity: 0;
    }
    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

@keyframes pb-new-text-poster-anim__slide-out-bottom {
    100% {
        -webkit-transform: translateY(50vh) translateX(var(--translateX));
        transform: translateY(50vh) translateX(var(--translateX));
        opacity: 0;
    }
    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }
}

/*endregion*/

/*region slide-out-right*/
@-webkit-keyframes pb-new-text-poster-anim__slide-out-right {
    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(50vw);
        transform: translateY(var(--translateY)) translateX(50vw);
        opacity: 0;
    }
}

@keyframes pb-new-text-poster-anim__slide-out-right {

    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(50vw);
        transform: translateY(var(--translateY)) translateX(50vw);
        opacity: 0;
    }
}

/*endregion*/

/*region slide-out-left*/
@-webkit-keyframes pb-new-text-poster-anim__slide-out-left {
    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(-50vw);
        transform: translateY(var(--translateY)) translateX(-50vw);
        opacity: 0;
    }
}

@keyframes pb-new-text-poster-anim__slide-out-left {

    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(-50vw);
        transform: translateY(var(--translateY)) translateX(-50vw);
        opacity: 0;
    }
}

/*endregion*/

/*region slide-in-right*/
@-webkit-keyframes pb-new-text-poster-anim__slide-in-right {
    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(50vw);
        transform: translateY(var(--translateY)) translateX(50vw);
        opacity: 0;
    }
}

@keyframes pb-new-text-poster-anim__slide-in-right {

    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(50vw);
        transform: translateY(var(--translateY)) translateX(50vw);
        opacity: 0;
    }
}

/*endregion*/

/*region slide-in-left*/
@-webkit-keyframes pb-new-text-poster-anim__slide-in-left {
    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(-50vw);
        transform: translateY(var(--translateY)) translateX(-50vw);
        opacity: 0;
    }
}

@keyframes pb-new-text-poster-anim__slide-in-left {

    100% {
        -webkit-transform: translateY(var(--translateY)) translateX(var(--translateX));
        transform: translateY(var(--translateY)) translateX(var(--translateX));
        opacity: 1;
    }

    0% {
        -webkit-transform: translateY(var(--translateY)) translateX(-50vw);
        transform: translateY(var(--translateY)) translateX(-50vw);
        opacity: 0;
    }
}

/*endregion*/