/*hide scroll bar*/
::-webkit-scrollbar {
    display: none;
}

:root {
    --pb-text-poster-max-height: 85vh;
    --pb-text-poster-max-width: calc(var(--1rpx) * 550);
    --pb-poster-aspect-ratio: 111/148;
    --pb-poster-text-size: calc(var(--1rpx) * 28);
    --pb-poster-title-size: calc(var(--1rpx) * 36);
}

.pb-poster {
    position: relative;
}

.pb-poster__header {

}


.pb-poster--details {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pb-poster--text-only .pb-poster__body {
    --text-size: 0.5rem;
    --title-size: 0.75rem;
    background: transparent url("../img/bulletin_paper_05.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: var(--pb-poster-aspect-ratio);
    font-size: var(--text-size);
    filter: drop-shadow(0px 0px var(--10rpx) rgba(0, 0, 0, 0.6));
    padding: calc(var(--1rpx) * 20) calc(var(--1rpx) * 12) calc(var(--1rpx) * 20) calc(var(--1rpx) * 20);
    overflow: hidden;
    box-sizing: border-box;
}

.pb-poster__text-title {
    font-size: var(--title-size);
    margin-bottom: var(--10rpx);
}

.pb-poster__text-inner {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.pb-poster__image {
    max-width: 100%;
    filter: drop-shadow(0px 0px var(--10rpx) rgba(0, 0, 0, 0.6));
}

.pb-poster--preview {
    cursor: zoom-in;
    transition: all ease 0.5s;
}

.pb-poster--preview:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.pb-poster--preview .pb-poster__header,
.pb-poster--preview .pb-poster__footer {
    display: none;
}

.pb-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) none;
    z-index: 1000;
}

.pb-modal__poster-container {
    --translateX: -50%;
    --translateY: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--translateX), var(--translateY));
    -webkit-transform: translate(var(--translateX), var(--translateY));
    max-width: 90vw;
    max-height: 90vh;
    aspect-ratio: var(--pb-poster-aspect-ratio);
    z-index: 1001;
}

.pb-poster--details .pb-poster__header {
    display: none;
}

.pb-poster--details .pb-poster__image {
    max-height: 85vh;
}

.pb-poster--details .pb-poster__body {
    z-index: 1;
}

.pb-poster--details .pb-poster__footer {

    --translateY: 50%;
    position: absolute;
    bottom: 0;
    transform: translateY(var(--translateY));
    -webkit-transform: translateY(var(--translateY));
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
}

.pb-poster--details.pb-poster--text-only .pb-poster__body {
    --text-size: 1.25rem;
    --title-size: 2rem;
    padding: calc(var(--1rpx) * 60) calc(var(--1rpx) * 50) calc(var(--1rpx) * 50) calc(var(--1rpx) * 70);
    max-height: 85vh;
    max-width: 100%;
    height: 100vh;
    width: unset;
}

.pb-poster--details.pb-poster--text-only .pb-poster__text-inner {
    overflow: auto;
}

.pb-poster--details.pb-poster--text-only .pb-poster__footer {
    --translateY: 25%;
}

.pb-poster--text:not(.pb-poster--details) {
    width: 100%;
    aspect-ratio: var(--pb-poster-aspect-ratio);
}

.pb-poster--text:not(.pb-poster--details) .pb-new-text-poster__text-container {
    overflow: hidden;
    padding-top: var(--10rpx);
    padding-bottom: var(--10rpx);
}

.pb-poster--text .pb-new-text-poster__text-section--type-text {
    font-size: var(--pb-poster-text-size);
}

.pb-poster--text .pb-new-text-poster__text-section--type-headline {
    font-size: var(--pb-poster-title-size);
}


.pb-poster--text:not(.pb-poster--details) .pb-new-text-poster__text-section--type-text {
    font-size: var(--10rpx);
}

.pb-poster--text:not(.pb-poster--details) .pb-new-text-poster__text-section--type-headline {
    font-size: var(--15rpx);
}

.pb-new-text-poster__text-section--align-left {
    text-align: left;
}

.pb-new-text-poster__text-section--align-center {
    text-align: center;
}

.pb-new-text-poster__text-section--align-right {
    text-align: right;
}

.pb-poster--details {
    --translateX: -50%;
    --translateY: -50%;
    transform: translate(var(--translateX), var(--translateY));
    -webkit-transform: translate(var(--translateX), var(--translateY));
    position: absolute;
    top: 0;
    left: 50%;
    /*max-width: var(--pb-text-poster-max-width);*/
    max-height: var(--pb-text-poster-max-height);
    height: 100vh;
    aspect-ratio: var(--pb-poster-aspect-ratio);
}

.pb-new-text-poster__text-section {
    white-space: pre-line;
}

.pb-poster__next-btn {
    position: absolute;
    top: 50%;
    right: calc(-1 * var(--25rpx));
    transform: translateY(-50%) translateX(100%);
    -webkit-transform: translateY(-50%) translateX(100%);
    z-index: 10;
}

.pb-poster__prev-btn {
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--25rpx));
    transform: translateY(-50%) translateX(-100%);
    -webkit-transform: translateY(-50%) translateX(-100%);
    z-index: 10;
}

.pb-poster--preview .pb-poster__next-btn,
.pb-poster--preview .pb-poster__prev-btn {
    display: none;
}