@font-face {
    font-family: nss-tip-rdr;
    src: url(./fonts/HapnaSlabSerif-DemiBold.ttf) format('truetype');
}

:root {
    --nss-tip-anim-duration:500ms;
}

.nss-tip {
    --translateXCenter: -50%;
    --translateYCenter: -50%;
    --margin: var(--25rpx);
    position: absolute;
    background: transparent url("./img/nss-tip.png") no-repeat;
    background-size: 100% 100%;
    max-width: calc(var(--1rpx) * 512);
    box-sizing: border-box;
    padding: var(--10rpx) var(--20rpx);
    color: rgba(255, 255, 255, 0.8);
    font-family: nss-tip-rdr, sans-serif;
    font-size: 1.3rem;
    z-index: 200000;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));

    -webkit-animation: nss-tip-anim__fade-in var(--nss-tip-anim-duration) both;
    animation: nss-tip-anim__fade-in var(--nss-tip-anim-duration) both;
}

.nss-tip--out {
    -webkit-animation: nss-tip-anim__fade-out var(--nss-tip-anim-duration) both;
    animation: nss-tip-anim__fade-out var(--nss-tip-anim-duration) both;
}

.nss-tip--tl {
    top: var(--margin);
    left: var(--margin);
}

.nss-tip--tc {
    top: var(--margin);
    left: 50%;
    transform: translateX(var(--translateXCenter));
    -webkit-transform: translateX(var(--translateXCenter));
}

.nss-tip--tr {
    top: var(--margin);
    right: var(--margin);
}

.nss-tip--cl {
    top: 50%;
    left: var(--margin);
    transform: translateY(var(--translateYCenter));
    -webkit-transform: translateY(var(--translateYCenter));
}

.nss-tip--cc {
    left: 50%;
    top: 50%;
    transform: translateX(var(--translateXCenter)) translateY(var(--translateYCenter));
    -webkit-transform: translateX(var(--translateXCenter)) translateY(var(--translateYCenter));
}

.nss-tip--cr {
    top: 50%;
    right: var(--margin);
    transform: translateY(var(--translateYCenter));
    -webkit-transform: translateY(var(--translateYCenter));
}

.nss-tip--bl {
    bottom: var(--margin);
    left: var(--margin);
}

.nss-tip--bc {
    bottom: var(--margin);
    left: 50%;
    transform: translateX(var(--translateXCenter));
    -webkit-transform: translateX(var(--translateXCenter));
}

.nss-tip--br {
    bottom: var(--margin);
    right: var(--margin);
}

@-webkit-keyframes nss-tip-anim__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes nss-tip-anim__fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes nss-tip-anim__fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes nss-tip-anim__fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}